* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.product-card {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  font-size: 0.75rem;
  margin: 0;
}

.details h1 {
  font-size: 1.8rem;
  margin: 15px 0;
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}

.description {
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.price strong {
  font-size: 1.8rem;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
}

.price s {
  color: hsl(228, 12%, 48%);
}

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
}

footer.attribution {
  margin-top: 100px;
  font-size: 11px;
  text-align: center;
}
